html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: var(--c-light);
	font-family: Lato, Tahoma, Geneva, sans-serif;
	overscroll-behavior: contain;
}
* {
	box-sizing: border-box;
	min-width: 0px;
	min-height: 0px;
	user-select: none;
}
.loading {
	background-color: var(--c-background);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	opacity: 1;
	transition: opacity ease .2s;
}
.loading.fade {
	opacity: 0;
	pointer-events: none;
}


:root {
	--c-background: #3F4E4F;
	--c-background-popup-dark: #1e2425;
	--c-background-popup: #2C3639;
	--c-light: #DCD7C9;
	--c-medium: #A27B5C;
	--c-dark: #2C3639;
	--c-darker: #3F4E4F;
	--shadow: box-shadow: 0 0 10px;
}

.hidden {
	display: none !important;
}


.btn {
	padding: 5px 20px;
	background-color: var(--c-light);
	color: var(--c-darker);
	cursor: pointer;
	transition: background ease .2s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.btn:hover {
	background-color: var(--c-medium);
}

b {
	font-weight: bolder;
}